<template>
  <div id="connexion" class="flex flex-col w-full h-full justify-center items-center bg-gray-900">
    <Login v-if="typePage" class="w-1/3 h-1/3" />
    <Register v-if="!typePage" class="w-1/3 h-1/2" />
  </div>
</template>


<script lang="ts">
  import Login from '@/components/Login.vue'
  import Register from '@/components/Register.vue'
  import { ref } from '@vue/reactivity'
  import { inject, onMounted, provide, Ref } from 'vue'
  import { User } from 'types/User'
import router from '@/router'

  export default {
    name: 'Connexion',
    components: {
      Login,
      Register
    },
    setup() {

      const typePage:Ref<boolean> = ref(true)
      const switchTypePage:() => void = ():void => {
        typePage.value = !typePage.value
      }

      provide('switchTypePage', switchTypePage)

      const user:Ref<User|null>|undefined = inject('user')
      onMounted(() => {
        if(user?.value?.id) router.push('/productCatalog')
      })

      return {
        typePage
      }
    }
  }
</script>