<template>
  <div id="home" class="flex flex-col w-full h-full">
    <AnimationCube />
  </div>
</template>


<script lang="ts">
  import AnimationCube from '@/components/AnimationCube.vue'

  export default {
    name: 'Home',
    components: {
      AnimationCube
    },
  }
</script>