<template>
  <div id="payment" class="flex flex-col w-full h-auto bg-gray-900 text-gray-100 justify-center items-center py-20 overflow-y-auto">
    <div v-if="panier" class="flex flex-col w-5/6">
      <h1 class="text-5xl font-semibold">Payment</h1>
      <div class="flex w-full h-0.5 bg-gray-100 rounded my-5" />

      <h2 class="text-4xl font-semibold my-3">Commande</h2>
      <div v-for="article in panier.panier" :key="article.key" class="flex w-full items-center my-1">
        <p :class="['article flex bg-' + article.item.color + '-500 border-2 border-' + article.item.color + '-600 w-1/3 rounded-sm text-gray-100 px-3 py-2 font-semibold']">{{article.item.name}}<span class="ml-auto font-light mr-5">{{article.item.price}}€</span></p>
        <p :class="['text-' + article.item.color + '-500 font-bold text-xl']">X{{article.quantite}}</p>
        <p class="text-gray-100 font-normal text-2xl mx-3 ml-auto">{{(article.quantite * article.item.price).toFixed(2)}}€</p>
      </div>
      <p class="flex w-full text-gray-100 my-3 text-2xl px-3 font-bold">Total :<span class="ml-auto">{{getTotal()}}</span></p>
    
      <div class="flex w-full h-0.5 bg-gray-100 rounded my-5" />
      <h2 class="text-4xl font-semibold my-3">Information personnelles</h2>
      <div class="info-perso-row">
        <div class="info-perso-col-item">
          <label>Nom</label>
          <div class="flex">
            <input type="text" placeholder="Nom" v-model="nom">
            <span v-if="isNomValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
        <div class="info-perso-col-item">
          <label>Prénom</label>
          <div class="flex">
            <input type="text" placeholder="Prénom" v-model="prenom">
            <span v-if="isPrenomValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
      </div>
      <div class="info-perso-row">
        <div class="info-perso-col-item w-1/2">
          <label>Téléphone</label>
          <div class="flex">
            <input type="tel" placeholder="Téléphone" v-model="telephone">
            <span v-if="isTelephoneValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
      </div>
      <div class="info-perso-row">
        <div class="info-perso-col-item">
          <label>Adresse</label>
          <div class="flex">
            <input type="text" placeholder="Adresse" v-model="adresse">
            <span v-if="isAdresseValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
        <div class="info-perso-col-item">
          <label>Pays</label>
          <div class="flex">
            <input type="text" placeholder="Pays" v-model="pays">
            <span v-if="isPaysValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
      </div>

      <div class="flex w-full h-0.5 bg-gray-100 rounded my-5 mt-10" />
      <h2 class="text-4xl font-semibold my-3">Information de payment</h2>
      <div class="info-perso-row">
        <div class="info-perso-col-item">
          <label>Numéro de carte</label>
          <div class="flex">
            <input type="number" placeholder="Numéro de carte" v-model="numeroCarteCredit">
            <span v-if="isNumeroCarteCreditValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
      </div>
      <div class="info-perso-row">
        <div class="info-perso-col-item">
          <label>Nom du propriétaire</label>
          <div class="flex">
            <input type="text" placeholder="Nom du propriétaire" v-model="nomCarteCredit">
            <span v-if="isNomCarteCreditValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
        <div class="info-perso-col-item">
          <label>Date d'éxpiration</label>
          <div class="flex w-full">
            <select v-model="expirationMoisCarteCredit">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select> 
            <select v-model="expirationAnneeCarteCredit">
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
            </select> 
            <span v-if="isExpirationCarteCreditValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
        <div class="info-perso-col-item">
          <label>CVC/CVV</label>
          <div class="flex">
            <input type="text" placeholder="CVC/CVV" v-model="CVVCarteCredit">
            <span v-if="isCVVCarteCreditValid()" class="material-icons md-green ml-3">done</span>
            <span v-else class="material-icons md-red ml-3">close</span>
          </div>
        </div>
      </div>

      <div class="flex w-full h-0.5 bg-gray-100 rounded my-7" />
      <Button class="w-1/4 mx-auto bg-green-500 border-green-700" :disabled="!isInfoPersoValid() || !isInfoPayementValid()" @click="sendOrder()">Valider la commande</Button>

    </div>
    <div v-if="orderSended" id="payment-success" class="flex fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-50 justify-center items-center">
      <div id="payment-success-core" class="flex flex-col relative bg-gray-900 border-2 border-gray-700 rounded-xl w-2/3 h-1/2 justify-center items-center">
        <Confetti class="absolute" />
        <h3 class="font-bold text-4xl z-0">Merci pour votre achat !!!</h3>
        <Button class="mt-16 z-0" @click="routeToProductCatalog()">Aller au catalogue</Button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { inject, onMounted, ref, watch } from '@vue/runtime-core'
  import Button from '@/components/Button.vue'
  import { Ref } from 'vue'
  import axios, { AxiosResponse } from 'axios'
  import { User } from 'types/User'
  import { Panier } from 'types/Panier'
  import router from '@/router'
  import Confetti from '@/components/Confetti.vue'

  export default {
    name: 'Payment',
    components: {
      Button,
      Confetti
    },
    setup() {

      const user:Ref<User|null>|undefined = inject('user')
      const userLogin:((user:User)=>void)|undefined = inject('userLogin')
      const displayError:((err:Error|null)=>void)|undefined = inject('displayError')

      const panier:Ref<Panier|null>|undefined = inject('panier')
      const getTotal:()=>number = ():number => {
        let total = 0
        if(panier && panier.value) {
          for(let i = 0; i < panier.value.panier.length; i++) {
            total += Math.round(((panier.value.panier[i].quantite * panier.value.panier[i].item.price) + Number.EPSILON) * 100) / 100
          }
        }
        return total
      }

      const nom:Ref<string> = ref(user && user.value && user.value.information_personnelle && user.value.information_personnelle.nom ? user.value.information_personnelle.nom : '')
      const isNomValid:()=>boolean = ():boolean => {
        const regex = /^[a-zA-Z]+$/
        return regex.test(nom.value)
      }

      const prenom:Ref<string> = ref(user && user.value && user.value.information_personnelle && user.value.information_personnelle.prenom ? user.value.information_personnelle.prenom : '')
      const isPrenomValid:()=>boolean = ():boolean => {
        const regex = /^[a-zA-Z]+$/
        return regex.test(prenom.value)
      }

      const telephone:Ref<string> = ref(user && user.value && user.value.information_personnelle && user.value.information_personnelle.telephone ? user.value.information_personnelle.telephone : '')
      const isTelephoneValid:()=>boolean = ():boolean => {
        const regex = /^\d+$/
        if(telephone.value.length >= 10 && telephone.value.length <= 12 && regex.test(telephone.value)) return true
        return false
      }

      const adresse:Ref<string> = ref(user && user.value && user.value.information_personnelle && user.value.information_personnelle.adresse ? user.value.information_personnelle.adresse : '')
      const isAdresseValid:()=>boolean = ():boolean => {
        const regex = /^[a-zA-Z0-9\s,'-]*$/
        if(regex.test(adresse.value) && adresse.value.length >= 5) return true
        return false
      }

      const pays:Ref<string> = ref(user && user.value && user.value.information_personnelle && user.value.information_personnelle.pays ? user.value.information_personnelle.pays : '')
      const isPaysValid:()=>boolean = ():boolean => {
        const regex = /^[a-zA-Z]+$/
        return regex.test(pays.value)
      }

      const isInfoPersoValid:()=>boolean = ():boolean => {
        if(isNomValid() && isPrenomValid() && isTelephoneValid() && isAdresseValid() && isPaysValid()) return true
        return false
      }

      const isInfoPersoModify:Ref<boolean> = ref(false)
      watch([nom, prenom, telephone, adresse, pays], () => {
        isInfoPersoModify.value = true
      })
      const sendInfoPerso:()=>void = async () => {
        if(isInfoPersoModify && user && user.value && userLogin) {
          const infoPersoRequest:AxiosResponse<{error: Error|null, user: User|null}> = await axios.put('http://' + window.location.hostname + ':3000/api/user/updateInfo',
          {userID: user.value.id, email: user.value.email, firstName: prenom.value, lastName: nom.value, tel: telephone.value, country: pays.value, address: adresse.value})
          if(infoPersoRequest.data.error && displayError) return displayError(infoPersoRequest.data.error)
          if(infoPersoRequest.data.user && infoPersoRequest.data.user.id) userLogin(infoPersoRequest.data.user)
        }
        isInfoPersoModify.value = false
      }

      const numeroCarteCredit:Ref<string> = ref('')
      const isNumeroCarteCreditValid:()=>boolean = ():boolean => {
        const regex = /^\d+$/
        if(numeroCarteCredit.value.toString().length == 16 && regex.test(numeroCarteCredit.value)) return true
        return false
      }

      const nomCarteCredit:Ref<string> = ref('')
      const isNomCarteCreditValid:()=>boolean = ():boolean => {
        const regex = /^[a-zA-Z]+$/
        return regex.test(prenom.value)
      }

      const expirationMoisCarteCredit:Ref<string> = ref('')
      const expirationAnneeCarteCredit:Ref<string> = ref('')
      const isExpirationCarteCreditValid:()=>boolean = ():boolean => {
        if(expirationMoisCarteCredit.value.length > 0 && expirationAnneeCarteCredit.value.length > 0) return true
        return false
      }
      
      const CVVCarteCredit:Ref<string> = ref('')
      const isCVVCarteCreditValid:()=>boolean = ():boolean => {
        const regex = /^\d+$/
        if(CVVCarteCredit.value.length == 3 && regex.test(CVVCarteCredit.value)) return true
        return false
      }

      const isInfoPayementValid:()=>boolean = ():boolean => {
        const regex = /^\d+$/
        if(CVVCarteCredit.value.length == 3 && regex.test(CVVCarteCredit.value)) return true
        return false
      }

      const orderSended:Ref<boolean> = ref(false)
      const sendOrder:()=>void = async () => {
        if(isInfoPersoValid() && isInfoPayementValid() && panier && panier.value) {
          await sendInfoPerso()
          const orderRequest:AxiosResponse<{error: Error|null, user: User|null}> = await axios.post('http://' + window.location.hostname + ':3000/api/panier/order', {panier: panier.value})
          if(orderRequest.data.error && displayError) return displayError(orderRequest.data.error)
          orderSended.value = true
        }
      }

      const routeToProductCatalog:()=>void = () => {
        router.push('/productCatalog')
      }

      onMounted(() => {
        if(user == undefined || user.value == null) router.push('/connexion')
      })

      return {
        panier,
        getTotal,
        nom,
        isNomValid,
        prenom,
        isPrenomValid,
        telephone,
        isTelephoneValid,
        adresse,
        isAdresseValid,
        pays,
        isPaysValid,
        isInfoPersoValid,
        numeroCarteCredit,
        isNumeroCarteCreditValid,
        nomCarteCredit,
        isNomCarteCreditValid,
        expirationMoisCarteCredit,
        expirationAnneeCarteCredit,
        isExpirationCarteCreditValid,
        CVVCarteCredit,
        isCVVCarteCreditValid,
        isInfoPayementValid,
        sendOrder,
        orderSended,
        routeToProductCatalog
      }
    }
  }
</script>

<style scoped>
 #payment p.article {
    clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 0 100%);
    min-width: 20rem;
 }

 #payment label {
   @apply font-medium text-lg;
 }

 #payment input,
 #payment select {
      @apply outline-none bg-gray-900 border-0 border-b-2 w-full mt-3;
      transition: .2s ease;
  }

  #payment .info-perso-row {
    @apply flex w-full justify-between my-5;
  }

  #payment .info-perso-col-item {
    @apply flex flex-col w-full px-5;
  }

  #payment button {
    min-width: 15rem;
  } 

  #payment #payment-success-core {
    min-width: 20rem;
    min-height: 20rem;
  }
</style>