<template>
  <div id="product-catalog" class="flex flex-col w-full h-full">
    <AnimationCube cubePosition="right" :cubeVersion="currentCube ? currentCube.asset : null" />
    <div class="flex flex-col w-full h-full absolute p-10">
      <div class="flex flex-col w-1/4 mt-auto">
        <label class="text-gray-100 text-xl font-medium my-2">Trier par:</label>
        <select v-model="triSelected">
          <option value="1">Prix croissant</option>
          <option value="2">Prix de-croissant</option>
          <option value="3">Alphabétiquement</option>
          <option value="4">De-alphabétiquement</option>
        </select>
      </div>
      <ul class="w-1/4 my-auto">
      <template v-for="cube in cubeListe" :key="cube.key">
        <li :class="[currentCube != null && currentCube.name == cube.name ? 'active' : null, 'bg-' + cube.color + '-500 border-' + cube.color + '-600 text-gray-100 border-2 text-2xl font-medium my-3 p-2 rounded-sm pl-5 flex cursor-pointer']" @click="setCurrentCube(cube)">{{cube.name}} <span class="ml-auto mr-8 font-light text-lg my-auto">{{cube.price}}€</span></li>
      </template>
      </ul>
      <div v-if="currentCube != null" class="flex flex-col mx-auto justify-center items-center">
        <div v-if="user" class="flex justify-center items-center">
          <Button :class="['w-14 bg-' + currentCube.color + '-500 border-' + currentCube.color + '-600 text-green-100 font-semibold text-2xl']" @click="removeCubeToPanier(currentCube)">-</Button>
          <p :class="['text-' + currentCube.color + '-500 text-5xl font-bold flex flex-col mx-5 items-center']">{{getQuantityPanier(currentCube)}}<span class="text-gray-100 text-lg font-light">{{(getQuantityPanier(currentCube) * currentCube.price).toFixed(2)}}</span></p>
          <Button :class="['w-14 bg-' + currentCube.color + '-500 border-' + currentCube.color + '-600 text-green-100 font-semibold text-2xl']" @click="addCubeToPanier(currentCube)">+</Button>
        </div>
        <Button :class="['bg-' + currentCube.color + '-500 border-' + currentCube.color + '-600 text-green-100 text-xl']" @click="pushToProductDetail(currentCube)">Plus d'information</Button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import AnimationCube from '@/components/AnimationCube.vue'
  import { Ref, ref } from '@vue/reactivity'
  import { inject, onMounted, watch } from '@vue/runtime-core'
  import Button from '@/components/Button.vue'
  import { Cube } from 'types/Cube'
  import router from '@/router'
  import axios, { AxiosResponse } from 'axios'
  import { User } from 'types/User'
  import { Panier } from 'types/Panier'

  export default {
    name: 'ProductCatalog',
    components: {
      AnimationCube, 
      Button
    },
    setup() {

      const user:User|undefined = inject('user')
      const displayError:((err:Error|null)=>void)|undefined = inject('displayError')

      const cubeListe:Ref<Cube[]> = ref([])
      const getCubeListe:()=>void = async () => {
          const cubeListeRequest:AxiosResponse<{error: Error|null, cubeArray: Cube[]|null}> = await axios.get('http://' + window.location.hostname + ':3000/api/product')
          if(cubeListeRequest.data.error && displayError) return displayError(cubeListeRequest.data.error)
          if(cubeListeRequest.data.cubeArray) {
            cubeListe.value = cubeListeRequest.data.cubeArray
          }
      }
      const orderCubeList:(sortFunction:(a: Cube, b: Cube)=>number)=>void = (sortFunction:(a: Cube, b: Cube)=>number) => {
        cubeListe.value.sort((a: Cube, b: Cube) => sortFunction(a, b))
      }

      const currentCube:Ref<Cube|null> = ref<Cube|null>(null)
      const setCurrentCube:(cube:Cube)=>void = (cube:Cube):void => {
        currentCube.value = cube
      }

      const pushToProductDetail:(cube:Cube)=>void = (cube:Cube) => {
        if(currentCube.value != null) router.push('/productDetail/' + cube.id)
      }

      const panier:Ref<Panier|null>|undefined = inject('panier')
      const getQuantityPanier:(cube:Cube)=>number = (cube:Cube):number => {
        if(panier && panier.value) {
          const filtredPanier = panier.value.panier.filter(x =>x.item.id == cube.id)
          if(filtredPanier.length > 0) return filtredPanier[0].quantite
          else return 0;
        }
        return 0
      }
      const addCubeToPanier:((cube:Cube)=>void)|undefined = inject('addCubeToPanier')
      const removeCubeToPanier:((cube:Cube)=>void)|undefined = inject('removeCubeToPanier')

      const triSelected:Ref<string> = ref('1')
      watch(triSelected, () => {
        switch(triSelected.value) {
          case '1':
            orderCubeList((a: Cube, b: Cube):number => {
              return a.price - b.price
            })
            break
          case '2':
            orderCubeList((a: Cube, b: Cube):number => {
              return b.price - a.price
            })
            break
          case '3':
            orderCubeList((a: Cube, b: Cube):number => {
              return (a.name.toUpperCase() < b.name.toUpperCase()) ? -1 : (a.name.toUpperCase() > b.name.toUpperCase()) ? 1 : 0
            })
            break
          case '4':
            orderCubeList((a: Cube, b: Cube):number => {
              return (a.name.toUpperCase() < b.name.toUpperCase()) ? 1 : (a.name.toUpperCase() > b.name.toUpperCase()) ? -1 : 0
            })
            break
        }
      })

      onMounted(async () =>{
        await getCubeListe()
        if(currentCube.value == null && cubeListe.value.length > 0) currentCube.value = cubeListe.value[0]
      })

      return {
        user,
        cubeListe,
        currentCube,
        triSelected,
        setCurrentCube,
        pushToProductDetail,
        getQuantityPanier,
        addCubeToPanier,
        removeCubeToPanier
      }
    }
  }
</script>

<style scoped>
  ul {
    min-width: 25rem;
  }

  ul li {
    @apply w-10/12 xl:w-11/12;
    clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 0 100%);
    transition: .2s ease;
  }

  ul li:hover,
  ul li.active {
    @apply w-full;
  }

  select {
      @apply mt-5 text-gray-100 px-3 outline-none bg-gray-900 bg-opacity-0 border-0 border-b-2 w-11/12;
      transition: .2s ease;
  }
  select option {
    @apply text-gray-900;
  }

  select:focus {
      @apply w-full;
  }
</style>