<template>
  <div v-if="cube != null" id="product-detail" class="flex flex-col w-full h-full">
    <AnimationCube cubePosition="right" :cubeVersion="cube ? cube.asset : null" />
    <div class="flex flex-col w-full h-full absolute p-10">
      <h2 :class="['text-' + cube.color + '-500 font-bold text-5xl mx-auto mt-10']">{{cube.name}}</h2>
      <div class="flex flex-col text-gray-100 text-lg my-auto w-2/5">
        <p :class="['text-' + cube.color + '-500 text-2xl font-semibold']">Description</p>
        <p>{{cube.description}}</p>
        <p :class="['text-' + cube.color + '-500 text-2xl font-semibold mt-5']">Prix</p>
        <p>{{cube.price}}€</p>
        <Button :class="['bg-' + cube.color + '-500 border-' + cube.color + '-700 w-40 flex justify-center items-center mt-5 mx-auto pr-5 text-gray-100']" @click="routeToBack()"><span class="material-icons md-24">chevron_left</span>Retour</Button>
      </div>
    </div>
  </div>
  <div v-else id="product-detail" class="flex flex-col w-full h-full justify-center items-center">
    <AnimationCube cubePosition="right" />
    <div class="flex flex-col w-full h-full absolute p-10 justify-center items-center">
      <p class="text-gray-100 text-xl">Impossible de trouver l'article demandé...</p>
      <Button class="bg-gray-500 border-gray-700 w-80 flex justify-center items-center mt-5 mx-auto pr-5 text-gray-100" @click="routeToCatalog()"><span class="material-icons md-24">chevron_left</span>Retour au catalogue</Button>
    </div>
  </div>
</template>

<script lang="ts">
  import AnimationCube from '@/components/AnimationCube.vue'
  import { Cube } from 'types/Cube'
  import { Ref, ref } from '@vue/reactivity'
  import { inject, onMounted } from '@vue/runtime-core'
  import { useRoute } from 'vue-router'
  import Button from '@/components/Button.vue'
  import router from '@/router'
  import axios, { AxiosResponse } from 'axios'

  export default {
    name: 'ProductDetail',
    components: {
      AnimationCube,
      Button
    },
    setup() {

      const cube:Ref<Cube|null> = ref(null)
      const displayError:((err:Error|null)=>void)|undefined = inject('displayError')

      onMounted(() => {
        const productId:number = parseInt(useRoute().params.id.toString())
        getProductById(productId)
      })

      const getProductById:(cubeId:number)=>void = async (cubeId:number) => {
        const cubeRequest:AxiosResponse<{error: Error|null, cube: Cube|null}> = await axios.get('http://' + window.location.hostname + ':3000/api/product/' + cubeId)
          if(cubeRequest.data.error && displayError) return displayError(cubeRequest.data.error)
          if(cubeRequest.data.cube) {
            cube.value = cubeRequest.data.cube
          }
      }

      const routeToBack:()=>void = ():void => {
        router.back()
      }

      const routeToCatalog:()=>void = ():void => {
        router.push('/productCatalog')
      }

      return {
        cube,
        routeToBack,
        routeToCatalog
      }
    }
  }
</script>