<template>
  <div id="animation-cube" class="flex w-full h-screen min-h-screen">
    <div id="container" ref="refContainer" class="flex w-full h-full" />
  </div>
</template>

<script lang="ts">
  import { ref, toRef } from '@vue/reactivity'
  import { onMounted, watch } from '@vue/runtime-core'
  import * as THREE from "three"
  import { GLTF, GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader.js'
  import BezierEasing from 'bezier-easing'
  import { Ref } from 'vue'

  export default {
    name: 'AnimationCube',
    props: {
      cubePosition: {
        type: String,
        default: 'center'
      },
      cubeVersion: {
        type: String,
        default: 'companion_cube'
      }
    },
    setup(props:any) {

      const cubePosition = toRef(props, 'cubePosition')

      // Declaration de la Ref div
      const refContainer:Ref<HTMLElement|null> = ref<HTMLElement|null>(null)

      // Declaration de la scene
      const scene:THREE.Scene = new THREE.Scene()
      const renderer:THREE.WebGLRenderer = new THREE.WebGLRenderer()

      // Camera
      const camera:THREE.PerspectiveCamera = new THREE.PerspectiveCamera()
      camera.rotation.set(0, Math.PI, 0)

      // Cube
      let product3DModel:THREE.Group|undefined = undefined
      const changeProduct3DModel:()=>void = ():void => {
        const loaderCube:GLTFLoader = new GLTFLoader()
        let newProduct3DModel:THREE.Group|undefined = undefined
        loaderCube.load('http://' + window.location.hostname + ':3000/assets/' + cubeVersion.value + '.gltf',
          (gltf:GLTF):void => {
            newProduct3DModel = gltf.scene
            if(product3DModel == undefined) {
              newProduct3DModel.position.set(0, 0, 8)
              if(cubePosition.value == 'right') newProduct3DModel.position.x = -2
              newProduct3DModel.scale.set(2, 2, 2)
              if(cubePosition.value == 'right') newProduct3DModel.scale.set(3, 3, 3)
              product3DModel = newProduct3DModel
              scene.add(product3DModel)
            } else {
              const oldPosition:THREE.Vector3 = product3DModel.position
              const oldScale:THREE.Vector3 = product3DModel.scale
              const oldRotation:THREE.Euler = product3DModel.rotation
              scene.remove(product3DModel)
              product3DModel = newProduct3DModel
              scene.add(product3DModel)
              product3DModel.position.set(oldPosition.x, oldPosition.y, oldPosition.z)
              product3DModel.scale.set(oldScale.x, oldScale.y, oldScale.z)
              product3DModel.rotation.set(oldRotation.x, oldRotation.y, oldRotation.z)
            }
          }, undefined,
          (error:ErrorEvent):void => {
            console.error(error)
          }
        )
      }

      // Background
      const loaderBg:THREE.TextureLoader = new THREE.TextureLoader()
      const materialBg:THREE.MeshLambertMaterial = new THREE.MeshLambertMaterial({
        map: loaderBg.load('http://' + window.location.hostname + ':3000/assets/portal2-wall.jpg')
      })
      const materialBgClear:THREE.MeshLambertMaterial = new THREE.MeshLambertMaterial({
        map: loaderBg.load('http://' + window.location.hostname + ':3000/assets/portal2-wall-clear.jpg')
      })
      const geometry:THREE.PlaneGeometry = new THREE.PlaneGeometry(100, 100)
      const bgMesh:THREE.Mesh = new THREE.Mesh(geometry, materialBg)
      if(cubePosition.value == 'right') bgMesh.material = materialBgClear
      bgMesh.position.set(0, 0, 100)
      bgMesh.rotation.set(0, Math.PI, 0)
      scene.add(bgMesh)

      // Ligth 1
      const light:THREE.SpotLight = new THREE.SpotLight(0xffffff, 2, 0)
      light.position.set(0, 0, 50)
      light.target = bgMesh
      scene.add(light)

      // Ligth 2
      const light2:THREE.RectAreaLight = new THREE.RectAreaLight(0xffffff, 2.25,  10, 10)
      light2.position.set(5, 5, 0)
      light2.lookAt(0, 0, 8)
      scene.add(light2)

      // Ligth 3
      const light3:THREE.RectAreaLight = new THREE.RectAreaLight(0xffffff, 2.25,  10, 10)
      light3.position.set(-5, -5, 0)
      light3.lookAt(0, 0, 8)
      scene.add(light3)

      // assets for anime floting cube
      const easing:BezierEasing.EasingFunction = BezierEasing(0.4, 0, .6, 1)
      let cubeBezierCurve = 0
      let cubeBezierCurveDirection = false

      // anime loop function
      const animate:()=>void = ():void => {
        requestAnimationFrame(animate)

        // anime rotation cube
        if(product3DModel) product3DModel.rotation.y += .0025

        // anime floting cube
        if(cubeBezierCurve > 1 || cubeBezierCurve < 0) {
          cubeBezierCurveDirection = !cubeBezierCurveDirection
          if(cubeBezierCurveDirection == true) cubeBezierCurve = 0
          else cubeBezierCurve = 1
        }
        else cubeBezierCurve = Math.round((cubeBezierCurve + .0025 * (cubeBezierCurveDirection ? 1 : -1)) * 1000) / 1000
        if(product3DModel) product3DModel.position.y = easing(cubeBezierCurve) * .3

        // rendering
        renderer.render(scene, camera)
      }

      onMounted(() => {
          animate()
          setSizeRending()
          if(cubeVersion.value) changeProduct3DModel()


          if(refContainer != null && refContainer.value != null) {
            // Evenement de la souris
            window.addEventListener('mousemove', (event) => {
              if(event.buttons == 1) {
                if(product3DModel && event.movementX != 0) product3DModel.rotation.x += -(Math.PI / event.movementX) / 30
                if(product3DModel && event.movementY != 0) product3DModel.rotation.y += -(Math.PI / event.movementY) / 30
              }
            })
          }
      })

      watch(refContainer, () => {
        setSizeRending()
      },{deep: true})

      const setSizeRending:()=>void = () => {
        if(refContainer != null && refContainer.value != null) {
          // Definition et creation de la scene de rendue
          renderer.setSize(refContainer.value.clientWidth, refContainer.value.clientHeight)
          refContainer.value.appendChild(renderer.domElement)
        }
      }

      const cubeVersion:any = toRef(props, 'cubeVersion')
      watch(() => cubeVersion.value ,() => {
        changeProduct3DModel()
      })

      return {
        refContainer
      }
    }
  }
</script>