<template>
  <button :disabled="disabled" class="border-2 p-3 rounded-lg text-xl"><slot></slot></button>
</template>

<script lang="ts">

  export default {
    name: 'Button',
    props: {
      disabled: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style scoped>
  button:disabled {
    @apply cursor-not-allowed;
  }
</style>