<template>
  <div id="confetti" class="flex w-full h-full">
    <div v-for="confetti in confettis" :key="confetti.key" :class="['flex absolute w-1.5 h-4 rounded-sm bg-' + confetti.color + '-500']" :style="'--rotation: ' + confetti.rotation + 'deg; --vitesse: ' + confetti.duration + 's; --stack: ' + confetti.stacking + 'px; left: ' + confetti.x + '%;'" />
  </div>
</template>

<script lang="ts">
import { Ref, ref } from '@vue/reactivity'

  export default {
    name: 'Confetti',
    setup() {

      const confettis:Ref<any[]> = ref([])
      const addConfetti:()=>void = () => {
        const color:string[] = ['gray', 'red', 'yellow', 'green', 'blue', 'indigo', 'purple', 'pink']
        confettis.value.push({
          x: Math.floor(Math.random() * 100),
          rotation: Math.floor(Math.random() * 360),
          duration: Math.floor(Math.random() * 9) + 3,
          color: color[Math.floor(Math.random() * 8)],
          stacking: confettis.value.length / 20
        })
      }
      const interval = setInterval(() => {
        addConfetti()
      },100)


      return {
        confettis
      }
    }
  }
</script>

<style scoped>
#confetti div {
  transform: rotate(var(--rotation));
  animation: fall var(--vitesse) linear forwards;
}

@keyframes fall {
  from {top: 0}
  to {top: calc(100% - 12px - var(--stack))}
}
</style>