<template>
  <div id="error" class="flex absolute z-50 top-0 left-0 w-full cursor-pointer" @click="displayError(null)">
    <p v-if="error != null" class="flex mx-auto w-11/12 bg-red-500 text-gray-100 border-2 border-red-600 rounded justify-center items-center h-auto p-3 mt-5">{{error.message}}</p>
  </div>
</template>

<script lang="ts">
  import { Ref } from 'vue'
  import { inject } from 'vue'
  import { Error } from 'types/Error'

  export default {
    name: 'Error',
    setup() {
      const error:(Ref<Error|null>)|undefined = inject('error')
      const displayError:((err:Error|null)=>void)|undefined = inject('displayError')

      return {
        error,
        displayError
      }
    }
  }
</script>