<template>
  <div id="login" class="flex flex-col justify-center items-center text-gray-100 bg-gray-800 rounded-xl p-5">
   <h2 class="text-center text-3xl font-semibold mb-3">Connexion</h2>
   
   <div class="flex w-full justify-center items-center">
      <input type="text" placeholder="Email" v-model="email">
      <template v-if="email.length > 0">
        <span v-if="isEmailValid()" class="material-icons md-green ml-3">done</span>
        <span v-else class="material-icons md-red ml-3">close</span>
      </template>
    </div>
    
    <div class="flex w-full justify-center items-center">
      <input type="password" placeholder="Mot de passe" v-model="password">
      <template v-if="password.length > 0">
        <span v-if="isPasswordValid()" class="material-icons md-green ml-3">done</span>
        <span v-else class="material-icons md-red ml-3">close</span>
      </template>
    </div>

   <Button class="mt-5 w-40 transition duration-300 bg-gray-900 hover:bg-gray-800 focus:bg-gray-700" :disabled="!isFormValid()" @click="login()">Connexion</Button>
   <Button class="mt-3 w-40 transition duration-300 bg-gray-900 hover:bg-gray-800 focus:bg-gray-700" @click="switchTypePage()">S'inscrire</Button>
  </div>
</template>

<script lang="ts">
  import Button from '@/components/Button.vue'
  import { inject } from '@vue/runtime-core'
  import { ref, Ref } from 'vue'
  import { User } from 'types/User'
  import axios, { AxiosResponse } from 'axios'
  import router from '@/router'
import { Error } from 'types/Error'

  export default {
    name: 'Login',
    components: {
      Button
    },
    setup() {

      const switchTypePage:(()=>void)|undefined = inject('switchTypePage')
      const userLogin:((newUser:User)=>void)|undefined = inject('userLogin')
      const displayError:((err:Error|null)=>void)|undefined = inject('displayError')

      const email:Ref<string> = ref('')
      const password:Ref<string> = ref('')

      const isEmailValid:()=>boolean = ():boolean => {
        const regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return regex.test(String(email.value).toLowerCase())
      }

      const isPasswordValid:()=>boolean = ():boolean => {
        if(password.value.length >= 8) return true
        return false
      }

      const isFormValid:()=>boolean = ():boolean => {
        if(isEmailValid() && isPasswordValid()) return true
        return false
      }

      const login:()=>Promise<void> = async ():Promise<void> => {
        if(isFormValid()) {
          const loginRequest:AxiosResponse<{error: Error|null, user: User|null}> = await axios.post('http://' + window.location.hostname + ':3000/api/user/login', {email: email.value, password: password.value})
          if(loginRequest.data.error && displayError) return displayError(loginRequest.data.error)
          if(loginRequest.data.user && userLogin != undefined) {
            userLogin(loginRequest.data.user)
            router.push('/productCatalog')
          }
        }
      }

      return {
        switchTypePage,
        email,
        isEmailValid,
        password,
        isPasswordValid,
        isFormValid,
        login
      }
    }
  }
</script>

<style scoped>
  input {
      @apply mt-5 outline-none bg-gray-800 border-0 border-b-2 w-11/12;
      transition: .2s ease;
  }

  input:focus {
      @apply w-full;
  }
</style>