<template>
  <div id="navigation" class="fixed top-0 left-0 flex w-0 h-0 z-50">
    <span v-if="navOpen == false" class="material-icons md-36 md-light cursor-pointer absolute top-5 left-5" @click="switchNavOpen()">menu</span>
    <div :class="[navOpen == true ? 'animNavOpen' : 'animNavClose', 'fixed top-0 flex w-screen h-screen']">
      <div id="navigation-core" class="flex flex-col w-1/3 bg-gray-800 border-r-2 border-gray-900 pt-5">
        <span class="material-icons md-36 md-light w-full text-center cursor-pointer" @click="switchNavOpen()">close</span>
        <router-link to="/" @click="switchNavOpen()">Home</router-link>
        <router-link to="/ProductCatalog" @click="switchNavOpen()">Catalogue</router-link>
        <router-link v-if="user == null || user == undefined" class="navigation-connexion" to="/connexion" @click="switchNavOpen()">Connexion</router-link>
        <p v-else class="navigation-connexion" @click="userDisconnect()">{{user.email}}</p>
      </div>
      <div id="navigation-deadzone" class="flex w-full h-screen bg-gray-900 bg-opacity-30 cursor-pointer" @click="switchNavOpen()" />
    </div>
  </div>
</template>

<script lang="ts">
  import { ref } from '@vue/reactivity'
  import { inject, Ref } from 'vue'
  import { User } from 'types/User'

  export default {
    name: 'Navigation',
    setup() {

      const user:Ref<User|null>|undefined = inject('user')
      const userDisconnect:(()=>void)|undefined = inject('userDisconnect')

      const navOpen:Ref<boolean> = ref(false)
      const switchNavOpen = ():void => {
        navOpen.value = !navOpen.value
      }

      return {
        user,
        userDisconnect,
        navOpen,
        switchNavOpen,
      }
    }
  }
</script>

<style scoped>
  #navigation {
    min-width: 20em;
  }

  #navigation-core {
    left: -100vw;
  }

  #navigation-deadzone {
    max-width: 66.666666%;
  }

 router-link, a, p {
   @apply mt-3 font-semibold text-2xl pl-10 cursor-pointer text-gray-100;
 }
 router-link.navigation-connexion, a.navigation-connexion, p.navigation-connexion {
   @apply mt-auto mb-10;
 }
 router-link.router-link-active, a.router-link-active {
   @apply italic pl-12;
 }

  .animNavOpen {
    animation: animNavOpen .3s ease forwards;
  }

  .animNavClose {
    animation: animNavClose .3s ease forwards;
  }

  @keyframes animNavOpen {
    from {left: -100vw;}
    to {left: 0px;}
  }

  @keyframes animNavClose {
    from {left: 0px;}
    to {left: -100vw;}
  }
</style>