<template>
  <div id="panier-floating" class="fixed flex flex-col right-5 top-5 z-40 items-end">
    <span class="material-icons md-36 md-light cursor-pointer" @click="switchPanierDisplay()">shopping_cart</span>
    <div v-if="panierDisplay" id="panier-floating-core" class="flex flex-col bg-gray-800 border-2 border-gray-900 mt-3 p-3 rounded h-auto overflow-y-scroll">
      <p v-if="panier == undefined || panier.length <= 0" class="text-gray-100 text-center my-5">Votre panier est vide.</p>
      <template v-else>
        <div v-for="article in panier.panier" :key="article.key" class="flex w-full items-center my-1">
          <p :class="['article flex bg-' + article.item.color + '-500 border-2 border-' + article.item.color + '-600 w-full rounded-sm text-gray-100 px-3 py-2 font-semibold']">{{article.item.name}}<span class="ml-auto font-light mr-5">{{article.item.price}}€</span></p>
          <p :class="['text-' + article.item.color + '-500 font-bold text-xl']">X{{article.quantite}}</p>
          <p class="text-gray-100 font-normal text-2xl mx-3">{{(article.quantite * article.item.price).toFixed(2)}}€</p>
        </div>
        <div class="flex w-full h-0.5 bg-gray-100 rounded mt-2" />
        <p class="flex w-full text-gray-100 my-3 text-2xl px-3 font-bold">Total<span class="ml-auto">{{getTotal()}}€</span></p>
        <Button class="text-gray-100 font-medium bg-gray-800 hover:bg-gray-700 focus:bg-gray-600 transition duration-200 mt-3" @click="routingToPanier(), switchPanierDisplay()">Valider le panier</Button>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
  import { ref } from '@vue/reactivity'
  import { inject, Ref } from 'vue'
  import Button from '@/components/Button.vue'
  import router from '@/router'
  import { Panier } from 'types/Panier'

  export default {
    name: 'PanierFloating',
    components: {
      Button
    },
    setup() {

      const panierDisplay:Ref<boolean> = ref(false)
      const switchPanierDisplay:()=>void = ():void => {
        panierDisplay.value = !panierDisplay.value
      }

      const panier:Ref<Panier|null>|undefined = inject('panier')
      const getTotal:()=>number = ():number => {
        let total = 0
        if(panier && panier.value) {
          for(let i = 0; i < panier.value.panier.length; i++) {
            total += Math.round(((panier.value.panier[i].quantite * panier.value.panier[i].item.price) + Number.EPSILON) * 100) / 100
          }
        }
        return total
      }

      const routingToPanier:()=>void = () => {
        router.push('/payment')
      }

      return {
        panierDisplay,
        switchPanierDisplay,
        panier,
        getTotal,
        routingToPanier
      }
    }
  }
</script>

<style scoped>
 #panier-floating-core {
   min-width: 30em;
   min-height: 1em;
   max-height: 90vh;
 }

 #panier-floating-core p.article {
    clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 0 100%);
 }
</style>