<template>
  <Navigation />
  <PanierFloating />
  <Error />
  <router-view/>
</template>

<script lang="ts">
  import Navigation from '@/components/Navigation.vue'
  import PanierFloating from '@/components/PanierFloating.vue'
  import { provide, ref, watch } from '@vue/runtime-core'
  import { User } from 'types/User'
  import { Ref } from 'vue'
  import { Cube } from 'types/Cube'
  import { Panier } from 'types/Panier'
  import { Error } from 'types/Error'
  import CError from '@/components/Error.vue'

  export default {
    name: 'App',
    components: {
      Navigation,
      PanierFloating,
      Error: CError
    },
    setup() {

      const user:Ref<null|User> = ref<null|User>(null)
      const userLogin:(newUser:User)=>void = (newUser:User) => {
        user.value = newUser
      }
      const userDisconnect:()=>void = () => {
        user.value = null
      }
      watch(user, () => {
        if(user.value == null) panier.value = null
        else if(panier.value == null) panier.value = {user: user.value, panier: []}
        else panier.value.user = user.value
      })
      provide('user', user)
      provide('userLogin', userLogin)
      provide('userDisconnect', userDisconnect)

      const panier:Ref<Panier|null> = ref(null)
      const addCubeToPanier:(cube:Cube)=>void = (cube:Cube) => {
        if(panier.value) {
          const productIndexInPanier:number = panier.value.panier.map(x => x.item.id).indexOf(cube.id)
          if(productIndexInPanier >= 0) {
            panier.value.panier[productIndexInPanier].quantite++
          } else {
            panier.value.panier.push({quantite: 1, item: cube})
          }
        }
      }
      const removeCubeToPanier:(cube:Cube)=>void = (cube:Cube) => {
        if(panier.value) {
          const productIndexInPanier:number = panier.value.panier.map(x => x.item.id).indexOf(cube.id)
          if(productIndexInPanier >= 0) {
            if(panier.value.panier[productIndexInPanier].quantite > 1) {
              panier.value.panier[productIndexInPanier].quantite--
            } else if(panier.value.panier[productIndexInPanier].quantite == 1) {
              panier.value.panier.splice(productIndexInPanier, 1)
            }
          }
        }
      }
      provide('panier', panier)
      provide('addCubeToPanier', addCubeToPanier)
      provide('removeCubeToPanier', removeCubeToPanier)

      const error:Ref<Error|null> = ref(null)
      const displayError:(err: Error|null)=>void = (err: Error|null) => {
        error.value = err
      }
      provide('error', error)
      provide('displayError', displayError)

      return {}
    }
  }
</script>