@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-green { @apply text-green-500; }
.material-icons.md-red { @apply text-red-500; }

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
}
::-webkit-scrollbar-thumb {
    background: #9E9E9E; 
}
::-webkit-scrollbar-thumb:hover {
    background: #9E9E9E; 
}

html, body, #app {
    @apply flex flex-col p-0 m-0 w-screen overflow-x-hidden select-none;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#app > div:nth-child(4) {
    min-height: 100vh;
}